*{
 margin: 0;
padding: 0;
box-sizing: border-box;
}
img{
    display: block;
}
body{
    padding-top: 38px;
    background : #cd5d5d;
}
.title{
font-family: "Inter ";
font-size: 64px;
font-weight: 400;
line-height: 77px;
text-align: center;
margin-bottom: 38px;
}
.bot{
    background-color: #ffff00;            
}
.header{
    padding-top: 100px;

}
.conteiner{
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
}
.navigation{
    display: flex;
align-items: center;
justify-content: space-between;

}
.header_list{
    display: flex;
list-style: none;
gap: 92px;
}
.header_link{
    color: #2000e8;
font-family: "Inter";
font-size: 15px;
font-weight: 600;
line-height: 18px;
letter-spacing: 0%;
text-align: center;
text-decoration-line: underline;
}
.hero{
    
    padding-bottom: 120px;
    padding-top: 23px;
}
.hero_item{
    margin-bottom: 101px;
    width: 300px;
    text-align: center;
}
.hero__wrapper{
    background-color: #010101;
    color: white;
}
.hero_list{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}